node_modules
build
dist
coverage

.git
.gitignore

.vscode
.idea

.env
.env.development
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log
yarn-error.log

logs
*.log

tmp
temp

Dockerfile
docker-compose.yml

# OS
.DS_Store
Thumbs.db

